body,
.gradient-bg {
  background-image: linear-gradient(to right, #8338ec, #5c61f6, #506af8);
}

.gradient-text {
  background-image: linear-gradient(to right, #8338ec, #5c61f6, #506af8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body,
html {
  overflow-x: hidden;
}